.nav-color{
  background-color: dodgerblue;
 }
 #articles {
   display: inline-block;
   overflow: auto;
   width: 60%;
   height: 700px;
 }
 .white{
   color:whitesmoke;
   background-color: cornflowerblue
 }